/* --------------------------------------------------------------------------

                                Main (Global)

   -------------------------------------------------------------------------- */

   body,
   html {
       margin: 0;
       padding: 0;
       height: 100%;
       width: 100%;
       box-sizing: border-box;
       overflow: hidden; /* Empêche le débordement */
       display: flex;
       justify-content: center;
       background-image: url('/assets/backgrounds/main_background.jpg');
       background-size: cover;
       align-items: center;
       -webkit-user-select: none;
       /* Chrome/Safari/Opera */
       -moz-user-select: none;
       /* Firefox */
       -ms-user-select: none;
       /* IE/Edge */
       user-select: none;
       /* Non-prefixed version, currently not supported by any browser */
   }
   
   div {
       color: white;
       font-family: "clockDigital";
   }
   
   /* --------------------------------------------------------------------------
   
                                  Main Background 
   
      -------------------------------------------------------------------------- */
   
   .container {
       width: 282px;
       height: 500px;
       background-image: url('/assets/backgrounds/background_1.gif');
       background-size: cover;
       box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
       border-radius: 15px;
       position: relative;
       box-shadow: 0 0 8px #ffffffc5;
       /* Ombre autour de l'image */
       -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3));
       /* Effet de réflexion */
       z-index: 0;
   }
   
   /*
   .container img:hover {
       box-shadow: 0 0 15px #fffd;
       -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.5));
   }
   */
   
   /* --------------------------------------------------------------------------
   
                               Discord Server Image Top
   
      -------------------------------------------------------------------------- */
   
   .discord-info {
       border-radius: 15px;
       margin-top: 30px;
       float: center;
       transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
   }
   
   .discord-info:hover {
       transform: scale(1.05);
   }
   
   /* --------------------------------------------------------------------------
   
                               Mini Cookies Effect
   
      -------------------------------------------------------------------------- */
   
      .mini-cookie {
       position: absolute;
       width: 100px;
       height: 100px;
       background-image: url('/assets/icons/48x48cookie.png');
       background-size: cover;
       animation-name: fall;
       animation-duration: 2s;
       animation-timing-function: linear;
       animation-iteration-count: infinite;
       z-index: 10;
       opacity: 0.5;
       pointer-events: none; /* Permet de cliquer à travers l'image */
   }
   
   @keyframes fall {
       0% {
           top: -50px;
       }
   
       100% {
           top: calc(100% - 50px);
       }
   
       /* Ajustement pour que le cookie s'arrête au bas de la fenêtre */
   }
   
   /* --------------------------------------------------------------------------
   
                                    Counter
   
      -------------------------------------------------------------------------- */
   
   #count {
       color: rgb(255, 255, 255);
       font-size: 2.2em;
       font-family: "clockDigital";
       margin-top: 10px;
       font-size: 300%;
       text-shadow: #424242;
   }
   
   /*Custom Font Import*/
   @font-face {
       font-family: "clockDigital";
       src: url("/assets/fonts/digital-7.woff2") format("woff2"),
           url("/assets/fonts/digital-7.woff") format("woff");
   }
   
   /* --------------------------------------------------------------------------
   
                               Main Cookie Button
   
      -------------------------------------------------------------------------- */
   
   .cookie-button {
       width: 100px;
       height: 100px;
       margin-top: 30px;
       border-radius: 15px;
       animation: multicolor 5s infinite;
       transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
   }
   
   .cookie-button:hover {
       transform: scale(1.05);
   }
   
   /* --------------------------------------------------------------------------
   
                               Settings button
   
      -------------------------------------------------------------------------- */
   
   .settings {
       float: right;
       margin-right: 10px;
   }
   
   /* --------------------------------------------------------------------------
   
                                       Rank
   
      -------------------------------------------------------------------------- */
   
   .extension {
       float: left;
       margin-left: 10px;
   }
   
   /* --------------------------------------------------------------------------
   
                                    Main Button
   
      -------------------------------------------------------------------------- */
   
   .button {
       display: block;
       position: relative;
       margin: 0.8em 0;
       padding: 0.8em 2.2em;
       color: rgb(156, 156, 156);
       cursor: pointer;
       background: #424242;
       border: none;
       border-radius: 0.4em;
       text-transform: uppercase;
       font-size: 16px;
       font-weight: 500;
       letter-spacing: 0.04em;
       transform-style: preserve-3d;
       transition: transform 0.5s cubic-bezier(0.2, 3, 0.4, 1) 0s;
   }
   
   .button:before,
   button:after {
       --z: 0px;
       position: absolute;
       top: 0;
       left: 0;
       display: block;
       content: "";
       width: 100%;
       height: 100%;
       opacity: 0;
       mix-blend-mode: color-dodge;
       border-radius: inherit;
       transform-style: preserve-3d;
       transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
   }
   
   .button span {
       mix-blend-mode: none;
       display: block;
   }
   
   .button:after {
       background-color: #8e5bf5;
   }
   
   .button:before {
       background-color: #6249a7d7;
   }
   
   .button:hover {
       background-color: #1931bbd3;
       transition: background 0.3s 0.1s;
       transform: scale(1.05);
   }
   
   .button:hover:before {
       --z: 0.04;
       -webkit-animation: translateWobble 2.2s ease forwards;
       animation: translateWobble 2.2s ease forwards;
   }
   
   .button:hover:after {
       --z: -0.06;
       -webkit-animation: translateWobble 2.2s ease forwards;
       animation: translateWobble 2.2s ease forwards;
   }
   
   /* --------------------------------------------------------------------------
   
                                   Main Button Animations
   
      -------------------------------------------------------------------------- */
   
   @-webkit-keyframes rotateAngle {
       0% {
           transform: rotateY(0deg) rotateX(10deg);
           -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
           animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
       }
   
       25% {
           transform: rotateY(20deg) rotateX(10deg);
       }
   
       50% {
           transform: rotateY(0deg) rotateX(10deg);
           -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
           animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
       }
   
       75% {
           transform: rotateY(-20deg) rotateX(10deg);
       }
   
       100% {
           transform: rotateY(0deg) rotateX(10deg);
       }
   }
   
   @keyframes rotateAngle {
       0% {
           transform: rotateY(0deg) rotateX(10deg);
           -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
           animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
       }
   
       25% {
           transform: rotateY(20deg) rotateX(10deg);
       }
   
       50% {
           transform: rotateY(0deg) rotateX(10deg);
           -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
           animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
       }
   
       75% {
           transform: rotateY(-20deg) rotateX(10deg);
       }
   
       100% {
           transform: rotateY(0deg) rotateX(10deg);
       }
   }
   
   @-webkit-keyframes translateWobble {
       0% {
           opacity: 0;
           transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
       }
   
       16% {
           transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
       }
   
       28% {
           opacity: 1;
           transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
       }
   
       44% {
           transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
       }
   
       59% {
           transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
       }
   
       73% {
           transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
       }
   
       88% {
           opacity: 1;
           transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
       }
   
       100% {
           opacity: 1;
           transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
       }
   }
   
   @keyframes translateWobble {
       0% {
           opacity: 0;
           transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
       }
   
       16% {
           transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
       }
   
       28% {
           opacity: 1;
           transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
       }
   
       44% {
           transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
       }
   
       59% {
           transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
       }
   
       73% {
           transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
       }
   
       88% {
           opacity: 1;
           transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
       }
   
       100% {
           opacity: 1;
           transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
       }
   }
   
   /* --------------------------------------------------------------------------
   
                                   Reset Button dialog
   
      -------------------------------------------------------------------------- */
   
   .dialog {
       z-index: 100;
       background-color: rgba(0, 0, 0, 0.788);
       border-radius: 10px;
   }
   
   .dialog p {
       color: white;
       margin-bottom: 20px;
       font-family: 'Courier New', Courier, monospace;
   }
   
   .dialog .button {
       float: center;
   }
   
   /* --------------------------------------------------------------------------
   
                           Autoclicker Count Container 
   
      -------------------------------------------------------------------------- */
   
   .autoclicker-container {
       display: flex;
       align-items: center;
       justify-content: center; /* Centrer horizontalement */
       margin-bottom: 5px;
   }
   
   .autoclicker-count {
       width: 45px;
       height: 45px;
       background-color: #424244;
       color: white;
       border-radius: 10%;
       display: flex;
       justify-content: center; /* Centrer le texte horizontalement */
       align-items: center; /* Centrer le texte verticalement */
       margin-right: 10px;
       font-family: "clockDigital";
       text-align: center;
   }

      /* --------------------------------------------------------------------------
   
                                Settings Infos Container 
   
      -------------------------------------------------------------------------- */
   
      .settingsinfos-container {
        display: flex;
        justify-content: center; /* Centrer horizontalement */
        margin-bottom: 20px;
    }
    
    .settingsinfos-txt {
        width: 235px;
        user-select: text;
        padding-top: 10px;
        margin-top: 180px;
        height: 65px;
        background-color: #424244;
        color: white;
        border-radius: 10%;
        justify-content: center; /* Centrer le texte horizontalement */
        align-items: center; /* Centrer le texte verticalement */
        font-family: "clockDigital";
        text-align: center
    }
